<!DOCTYPE html>
<html 	lang="en"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset= "utf-8"/>
		<title>Add project -TaskManager</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
	</head>
	<body>
		<h1>Add project</h1>
		<form	id="addProjectForm"
			 	th:action="@{/projects/add}"
			 	th:object="${project}"
				method="POST">
			<table>
				<tr>
					<td><label for="name">Project name</label></td>
					<td><input id="name" type="text" placeholder="NAME" required th:field="*{name}"></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'Color:red'"></td>
				</tr>
				<tr>
					<td><label for="description">project description</label></td>
					<td><input id="description" type="text" placeholder="DESCRIPTION" th:field="*{description}"/></td>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:style="'Color:red'"></td>
				</tr>
				<tr>
					<td><br/><button type="submit" style="margin-left:30px;">Add project</button></td>
				</tr>
			</table>
		</form>
		<footer>
			<a href="/main/home">Torna alla home</a>
		</footer>
	</body>

</html>