<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
<head>
	<title>TaskManager</title>
	<link rel="stylesheet" type="text/css" href="../../../../../../css/homeStyle.css"/>
</head>
<body>
	<h1 th:text = "'Welcome ' + ${admin.firstname} + '!'"></h1>
	<h4><a href = "/admin/users">All users list</a></h4>
	<h4><a href = "/index">Admin</a></h4>
	<h4><a href = "/index">Admin</a></h4>
	<h4><a href = "/index">Admin</a></h4>
	<h4><a href = "index">Admin</a></h4>
</body>  	  
</html>