<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
	<head>
		<title>TaskManager</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
	</head>
	
	<body>
		<div class="content">
			<form id = "commentForm"
				  th:action = "'/task/comment/' + ${task.id} + '/' + ${project.id}"
				  method = POST>
				 <label for="taskCommentInput">Commento</label></td>
				 <input id=taskCommentInput type="text" placeholder="Inserisci il tuo commento qui" required th:field="${comment.text}" style="width:300px;"></input>
				 <br/><br/>
				 <div><button type="submit">Commenta</button></div>
			</form>
			</div>
		<footer>
			<a href="/main/home">Torna alla home</a>
		</footer>
	</body>
</html>