<!DOCTYPE html>
<html
	lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset= "utf-8"/>
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
		<title>Create a tag</title>
		
	</head>
	<body>
		<div class="content">
			<h2>Create a tag</h2>
			<form
				th:object="${tag}"
				th:action=" @{'/project/' + ${project.id} + '/tag/create'} "
				method="POST">
				<table>
					<tr>
						<td><label for="name">Name</label></td>
						<td><input id="name" type="text" placeholder="Tag name" required th:field="${tag.name}"/></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'Color:red'"></td>
					</tr>
					<tr>
						<td><label for="color">Color</label></td>
						<td><input id="color" type="text" placeholder="Tag color" th:field="${tag.color}"/></td>
						<td th:if="${#fields.hasErrors('color')}" th:errors="color" th:style="'Color:red'"></td>
					</tr>
					<tr>
						<td><label for="description">Description</label></td>
						<td><input id="description" type="text" placeholder="Tag description" th:field="${tag.description}"/></td>
						<td th:if="${#fields.hasErrors('description')}" th:errors="description" th:style="'Color:red'"></td>
					</tr>
					<tr>
						<td><button type="submit">Create tag</button></td>
					</tr>	
				</table>
			</form>
		</div>
	</body>
</html>