<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
	<head>
		<meta charset= "utf-8"/>
		<title>TaskManager</title>	
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
	</head>
	<body align="center">
		<div class="content" style="max-width:700px;">
			<h1 th:text = "'Welcome, ' + ${user.firstname} + '!'"></h1>
			<br/><br/><br/>
			<a href = "/projects">My Projects</a>
			<a href = "/projects/shared">Shared with me</a>
			<a href = "/projects/add">Create new project</a>
			<br/><br/><br/><br/>
			<a href = "/users/me">Profile</a>
			<a href = "/logout">Logout</a>
		</div>
	</body>  
</html>