<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
	<head>
		<title>TaskManager</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
	</head>

	<body>
		<div class="content" style="max-width:1400px; margin-top:50px;">
			<table>
				<tr>
					<td><h1 style="margin-right:350px;">All members</h1></td><td><h1>All NOT members</h1></td>
				</tr>
				<tr>
					<td>
						<div>
							<ul th:each="member : ${members}">
								<br/>
								<li><a th:href="'/project/' + ${project.id} + '/removeMember/' + ${member.id}" th:text="${member.firstname} + ' ' + ${member.lastname}"></a></li>
							</ul>
						</div>
					</td>
					<td>
						<div>
							<ul th:each="notMember : ${notMembers}">
								<br/>
								<li><a th:href="'/project/' + ${project.id} + '/addMember/' + ${notMember.id}" th:text="${notMember.firstname} + ' ' + ${notMember.lastname}"></a></li>
							</ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>