<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
	<head>
		<title>TaskManager</title>
	</head>

	<body>
		<table>
			<tr>
				<td><h1 style="margin-right:100px;">All tags</h1></td><td><h1>All NOT tags</h1></td>
			</tr>
			<tr>
				<td>
					<div>
						<ul th:each="tagAdded : ${tagsAdded}">
							<li><a th:href="'/project/' + ${project.id} + '/removeTag/' + ${tagAdded.id}" th:text="${tagAdded.firstname} + ' ' + ${tagAdded.lastname}"></a></li>
						</ul>
					</div>
				</td>
				<td>
					<div>
						
						<ul th:each="tagNotAdded : ${tagsNotAdded}">
							<li><a th:href="'/project/' + ${project.id} + '/addtag/' + ${tagNotAdded.id}" th:text="${tagNotAdded.firstname} + ' ' + ${tagNotAdded.lastname}"></a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>