<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
	<head>
		<title>TaskManager</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
	</head>
	
	<body>
		<div class="content">
			<h2>Update project</h2>
			<form id= "updateProjectForm"
				  th:action = "@{'/projects/update/' + ${project.id}}"
				  th:object = "${project}"
				  method="POST">
				<table>
					<tr>
						<td><label for= "projectNameInput">Project Name</label>
						<td><input id= projectNameInput type = "text" placeholder="Name" required th:field="*{name}"/></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td><label for= "projectDescriptionInput">Project Description</label>
						<td><input id= projectDescriptionInput placeholder="Description" required th:field="*{description}"/></td>
						<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td><br/><button type="submit">Update</button>
					</tr>
				</table>	
			</form>
			
		</div>
		<footer>
			<a href="/main/home">Torna alla home</a>
		</footer>
	</body>
</html>