<!DOCTYPE html>
<html lang= "en"
	  xmlns = "http://www.w3.org/1999/xhtml"
	  xmlns:th = "https://www.thymeleaf.org">
	<head>
		<title>TaskManager</title>
		<link rel="stylesheet" type="text/css" href="../../../../../../css/general.css"/>
	</head>
	
	<body>
		<div class="content">
			<h1>Your Profile</h1>
			<table>
			  	<tr th:if = "${mine == 'true'}"><td>Username</td><td th:text = "${credentials.username}"></td></tr>
			  	<tr th:if = "${mine == 'true'}"><td>Role</td><td th:text = "${credentials.role}"></td></tr>
			  	<tr><td>First Name</td><td th:text = "${user.firstname}"></td></tr>
			  	<tr><td>Last Name</td><td th:text = "${user.lastname}"></td></tr>
			  	<tr><td>Registered at: </td><td th:text = "${user.creationTimeStamp}"></td></tr>
			  	<tr><td>Last Update at: </td><td th:text = "${user.lastUpdateTimeStamp}"></td></tr>
			</table>
			<p th:if = "${mine == 'true'}"><a href="/users/updateForm">Update Profile</a></p>
		</div>
		<footer>
			<a href="/main/home">Torna alla home</a>
		</footer>
	</body>
</html>